.main__testimonials {
  background-color: hsl(218, 28%, 13%);
  display: grid;
  min-height: 800px;
  grid-template-rows: repeat(3, calc(100% / 3));
  grid-template-columns: 10% 80% 10%;
  grid-row-gap: 20px;
}
