.testimonials__box {
  grid-column: 2/3;
  color: white;
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  * {
    margin: 0 auto;
    align-items: center;
  }
}
